.email-folder-list {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.email-folder-list li {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    font-size: 20px;
    padding-block: 0.4em;
    border-radius: 16px;
    cursor: pointer;
}

.email-folder-list li:hover {
    background-color: rgba(32, 33, 35, 0.059);
}

.folder-icon {
    justify-self: end;
}

.folder-name {}

.email-folder-list li.active {
    background-color: #d3e3fd;
    font-variation-settings: 'FILL' 1, 'wght' 300, 'GRAD' 200, 'opsz' 48;
}